
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/DataTables/datatables.min.css') }}">
        {% if app.session.get("theme") == "1" %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% elseif  app.session.get("theme") == "2" %}
        <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
        {% else %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endif %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('css/DataTables/datatables.min.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <title>KoloK</title>

    </head>
    <body>
    <div class="gradient-line"></div>
    <div class="nav-container">
        <div class="nav">
            <section class="nav-section">
                <a href="{{ path('ajm_colocation_homepage') }}" class="flex logo"><p class="page-title">KoloK</p></a>
                <form action="{{ path('ajm_colocation_recherche') }}" class="navbar-form recherche" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control bar-recherche" placeholder="{{ 'navbar.recherche.placeholder'|trans }}" name="q">
                        <div class="input-group-btn">
                            <button class="btn-recherche" type="submit"><i class="icon ion-ios-search"></i> </button>
                        </div>
                    </div>
                </form>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="navbar-input" href="{{ path('ajm_colocation_mesAnnonces') }}"><i class="icon ion-ios-home"></i>&nbsp;{{ 'navbar.annonces'|trans }}</a>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-input" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-email"></i>&nbsp;{{ 'navbar.demandes'|trans }}</a>
                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" aria-labelledby="dropdownMenuButton">
                            <a class="navbar-input dropdown-item" href="{{ path('ajm_demande_mesDemandesRecues') }}">{{ 'navbar.demandesRecues'|trans }}</a>
                            <a class="navbar-input dropdown-item" href="{{ path('ajm_demande_mesDemandes') }}">{{ 'navbar.demandesEnvoyees'|trans }}</a>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="navbar-input" href="{{ path('ajm_admin_indexAdmin') }}"><i class="icon ion-ios-cog"></i>&nbsp;Admin</a>
                    {% endif %}
                {% endif %}  
            </section>
            <section class="nav-section">
            {% if app.request.locale == 'fr' %}
                <a class="navbar-input" href="{{ path('root') ~ 'en' }}">
                    <img class="flag" src="{{ asset('img/fgb.png') }}">
                </a>
            {% else %}
                <a class="navbar-input" href="{{ path('root') ~ 'fr' }}">
                    <img class="flag" src="{{ asset('img/ff.png') }}">
                </a>
            {% endif %}
            <a class="navbar-input" href="{{ path('ajm_colocation_fluxRSS') }}" class="btn btn-default"><i class="icon ion-social-rss"></i>&nbsp;RSS</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="dropdown">
                <a href="#" class="dropdown-toggle navbar-input" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion-ios-person"></i>&nbsp;{{ 'navbar.profil'|trans }}</a>
                <div class="dropdown-menu" x-placement="bottom-start "style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" aria-labelledby="dropdownMenuButton">
                    <a class="navbar-input dropdown-item" href="{{ path('fos_user_profile_show') }}"><i class="ion-ios-person"></i>&nbsp;{{ 'navbar.voirprofil'|trans }}</a>
                    <a class="navbar-input dropdown-item" href="{{ path('ajm_theme_switch') }}" class="btn btn-default"><i class="icon ion-ios-color-wand"></i>&nbsp;Theme</a>
                    <a class="navbar-input dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="icon ion-log-out"></i>&nbsp;{{ 'navbar.deconnexion'|trans }}</a>
                </div>
            </div>
            {% else %}
                <a class="navbar-input" href="{{ path('fos_user_security_login') }}"><i class="icon ion-log-in"></i>&nbsp;{{ 'navbar.connexion'|trans }}</a>
            {% endif %}
            </section>
        </div>
    </div>
    <div class="main">
        {% block body %}
        {% endblock %}
    </div>
    </body>
</html>