{% trans_default_domain 'FOSUserBundle' %}
<div class="formulaire-lambda">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary btn-bottom" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
