{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="formulaire-lambda">
{{ wo_render_breadcrumbs() }}
  <h3> {{ colocation.titreAnnonce }}</h3>
  <div> {{'colocation.nbplaces'|trans}} : {{ colocation.nbPlaces}}</div>
  <div> {{'colocation.loyer'|trans}} : {{ colocation.loyer }} €</div>
  <div> {{'colocation.logementtype'|trans}} : {{ colocation.logement.type }} </div>
  <div> {{'colocation.logement.surface'|trans}}: {{ colocation.logement.surface }} m²</div>
  <div> {{'colocation.adresse.ville'|trans}}: {{ colocation.logement.adresse.ville}} </div>
  <hr>
  <h3>{{'demande.titreformulaire'|trans}}</h3>
  {{ form(form) }}
</div>
{% endblock %}