{% extends "@AJMColocation/layout.html.twig" %}
{% block body %}
{% if retourUtilisateur is defined %}
    <div class="alert alert-info">
    <strong>{{ retourUtilisateur }}</strong>
    </div>
{% endif %}
<div class="demandes"> 
{{ wo_render_breadcrumbs() }}
<h1> {{ 'navbar.demandesRecues'|trans }} </h1>
<div class="demandes-container">
{% for listeDemande in listMesDemandesRecues %}
    {% for demande in listeDemande %}
    {% if demande.etat == 'En attente' %}
        <div class="demande attente"><div class="demande-content"><i class="icon ion-ios-help-outline" title="{{ demande.etat|trans }}"></i>
    {% elseif demande.etat == 'Refusé' %}
        <div class="demande refuse"><div class="demande-content"><i class="icon ion-ios-close-outline" title="{{ demande.etat|trans }}"></i>
    {% elseif demande.etat == 'Accepté' %}
        <div class="demande accepte"><div class="demande-content"><i class="icon ion-ios-checkmark-outline" title="{{ demande.etat|trans }}"></i>
    {% endif %}
    <div class="demande-text"> <div><em>{{'demande.reception'|trans}}<b> {{ demande.user.prenom }} {{ demande.user.nom }} </b>{{'demande.offre'|trans}} <a href="{{ path('ajm_colocation_detailsAnnonce', {'id': demande.colocation.id}) }}">{{ demande.colocation.titreAnnonce }} </a></div></em><p><u>{{'demande.message'|trans}} :</u> </br>{{ demande.message }}</p></div></div>
    <div class="demande-boutons">
    {% if (demande.etat == 'En attente') %}
        <a href="{{ path('ajm_demande_accepterDemande', {'id': demande.id}) }}" class="btn btn-primary btn-demande">{{'bouton.accepter.accepter'|trans}} </a>
        <a href="{{ path('ajm_demande_refuserDemande', {'id': demande.id}) }}" class="btn btn-danger btn-demande">{{'bouton.accepter.refuser'|trans}} </a>
    {% endif %}
    </div>
</div> 
    {% endfor %}
{% endfor %}
</div>
</div>
{% endblock %}