{% extends "@AJMColocation/layout.html.twig" %}
{% block body %}
<div class="demandes"> 
{{ wo_render_breadcrumbs() }}
<h1> {{ 'navbar.demandesEnvoyees'|trans }} </h1>
<div class="demandes-container">
{% for demande in listMesDemandes %}
    {% if demande.etat == 'En attente' %}
        <div class="demande attente"><div class="demande-content"><i class="icon ion-ios-help-outline" title="{{ demande.etat|trans }}"></i>
    {% elseif demande.etat == 'Refusé' %}
        <div class="demande refuse"><div class="demande-content"><i class="icon ion-ios-close-outline" title="{{ demande.etat|trans }}"></i>
    {% elseif demande.etat == 'Accepté' %}
        <div class="demande accepte"><div class="demande-content"><i class="icon ion-ios-checkmark-outline" title="{{ demande.etat|trans }}"></i>
    {% endif %}
    <div class="demande-text"> <div><em>{{'demande.destinataire'|trans}}<b> {{ demande.colocation.user.prenom }} {{ demande.colocation.user.nom }} </b>{{'demande.offre'|trans}} <a href="{{ path('ajm_colocation_detailsAnnonce', {'id': demande.colocation.id}) }}">{{ demande.colocation.titreAnnonce }} </a></div></em><p><u>{{'demande.message'|trans}} :</u> </br>{{ demande.message }}</p></div></div>
    <div class="demande-boutons">
    {% if (demande.etat == 'En attente') %}
        <a href="{{ path('ajm_demande_modifierDemande', {'id': demande.id}) }}" class="btn btn-primary btn-demande">{{'bouton.modifier.demande'|trans}} </a>
    {% endif %}
        <a href="{{ path('ajm_demande_supprimerDemande', {'id': demande.id}) }}" class="btn btn-danger btn-demande">{{'bouton.supprimer'|trans}} </a>
    </div>
</div>
{% endfor %}
  </div>
 </div>
</div>
{% endblock %}