{% trans_default_domain 'FOSUserBundle' %}
<div class="form-inscription">
<h1>Inscription</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register username'}}) }}
    {{ form_widget(form) }}
        <input class="btn btn-primary btn-connexion" type="submit" value="{{ 'registration.submit'|trans }}" />
{{ form_end(form) }}
</div>