body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  background-color: #efefef;
}

.flex {
  display: flex;
}

.logo:hover {
  text-decoration: none;
  color: #6772e5;
  ;
  transition: ease color 0.5s;
}

.logo {
  margin-left: 15px;
  color: #212529;
  transition: ease color 0.5s;
}

.nav-section {
  height: 50px;
}

.btn,
.btn-default,
.btn-primary {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  background: #6772e5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease;
  border-color: transparent;
}

.btn:focus,
.btn:hover,
.btn-default:hover,
.btn-default:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #4650bc;
  color: #fff;
  border-color: transparent;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #8e222d;
  color: #fff;
  border-color: transparent;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.page-title {
  font-size: 35px;
  margin: 0;
  color: #6772e5;
  ;
}

.gradient-line {
  height: 5px;
  background: linear-gradient(to right, dodgerblue, aquamarine);
  position: fixed;
  width: 100%;
}

.nav {
  background-color: white;
  display: flex;
  max-width: 1080px;
  margin: auto;
  justify-content: space-between;
  position: sticky;
}

.nav-container {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
  position: fixed;
  width: 100%;
  margin-top: 5px;
}

.nav-section {
  display: flex;
}

.formulaire-container {
  max-width: 1080px;
  margin: auto;
  box-shadow: 0 3px 0 rgba(12, 13, 14, 0.15), 0 3px 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
}

.main-container {
  max-width: 1080px;
  margin: 0 auto;
}

.bar-recherche {
  height: 30px;
  background-color: white;
  color: grey;
  border: 1px solid #efefef;
}

.btn-recherche {
  padding: 2px 2px 2px 6px;
  margin-left: -4px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  background-color: #efefef;
  border-radius: 4px;
  border: none;
  color: black;
}

.recherche {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 18px;
  margin-bottom: 0;
}

.navbar-input {
  margin-right: 25px;
  padding-top: 5px;
  color: #fff;
  background: #6772e5;
  background-color: rgb(103, 114, 229);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 4px;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}

.navbar-input:hover {
  text-decoration: none;
}

.flag {
  margin: 7px;
  height: 25px;
  width: 35px;
}

.main {
  padding-top: 90px;
  padding-bottom: 30px;
}

.form-connexion {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 35px 35px;
  border-radius: 6px;
  background-color: white;
}

.form-inscription {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 5px 35px;
  border-radius: 6px;
  background-color: white;
}

.btn-connexion {
  width: 200px;
  margin: 20px auto;
}

.username {
  margin-top: 35px;
}

.password {
  margin-top: 20px;
  margin-bottom: 10px;
}

.annonce {
  display: flex;
  color: black;
  background-color: #fff;
  transition: ease-in-out background-color 0.2s;
  padding: 20px 0 20px 35px;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
}

.annonce:hover {
  background-color: #efefef;
  text-decoration: none;
  color: black;
}

.annonce>div>i {
  font-size: 10em;
  margin-right: 30px;
}

.annonce-detail {
  display: flex;
  color: black;
  background-color: #fff;
  transition: ease-in-out background-color 0.2s;
  padding: 20px 0 20px 35px;
}

.annonce-detail>i {
  font-size: 10em;
  margin-right: 50px;
}

.annonces {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 20px 35px;
  border-radius: 6px;
  background-color: white;
}

.formulaire-lambda {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 5px 35px;
  border-radius: 6px;
  background-color: white;
}

.formulaire-ajout-coloc {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 5px 35px;
  border-radius: 6px;
  background-color: white;
}

.demandes {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 5px 35px;
  border-radius: 6px;
  background-color: white;
}

.demande {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 35px;
  border-bottom: 1px solid #efefef;
}

.demande>div>i {
  font-size: 5em;
}

.btn>i {
  margin-top: 1px;
  font-size: 1.7em;
}

.attente {
  background-color: #ffd90018;
}

.accepte {
  background-color: #1eff0018;
}

.refuse {
  background-color: #ff000018;
}

.btn-add-top {
  margin-top: 5px;
  margin-bottom: 25px;
}

.btn-bottom {
  margin-top: 15px;
  margin-bottom: 25px;
}

.titre-add {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.titre-page {
  margin-bottom: 25px;
}

.description-details {
  margin-top: 20px;
}

.logement-details,
.adresse-details {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logement-details {
  margin-left: 30px;
}

.adresse-details {
  border-left: 1px solid #efefef;
  padding-left: 40px;
  margin-left: 40px;
}

.titre-annonce-detail {
  align-items: center;
}

.date {
  margin-top: 30px;
}

.loyer {
  display: inline-flex;
  margin-top: 20px;
}

.loyer-big>h5 {
  margin: 10px 0 0 15px;
}

.loyer>h5 {
  margin: 10px 0 0 15px;
}

.loyer-big {
  display: flex;
  margin-top: 60px;
  margin-right: 20px;
}

.split-recherche {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 20px 35px;
  border-radius: 6px;
  background-color: white;
}

.recherche-avancee {
  display: flex;
  flex-direction: column;
  border-right: #efefef solid 1px;
  margin-right: 20px;
  padding-right: 30px;
  max-width: 300px;
}

.form-recherche {
  display: flex;
  flex-direction: column;
}

.form-recherche>div {
  display: flex;
  flex-direction: column;
}

.form-recherche>div>input {
  margin-bottom: 10px;
}

div.recherche-avancee>form>div>select {
  margin-bottom: 10px;
}

.form-recherche>div>label {
  margin-bottom: 0;
}

.resultat-recherche {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.demande-content {
  display: flex;
  color: black;
}

.demande-content>i {
  border-right: 1px solid #cfcfcf3f;
  margin-right: 20px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.demande-boutons {
  display: flex;
  flex-direction: column;
}

.demande-boutons>a {
  margin-right: 20px;
  margin-top: 10px;
}

.demandes-container {
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #efefef solid 1px;
  border-radius: 6px;
}

.demande-text {
  margin-top: 10px;
  color: black;
}

dropdown:hover>dropdown-menu {
  display: block !important;
}

.dropdown-toggle {
  border: 0px;
}

.dropdown-menu {
  background-color: white;
}

.dropdown-item:hover {
  background-color: #efefef;
}

.breadcrumb {
  background-color: #efefef;
}

.form-control {
  background-color: white;
  color: grey;
  border-color: #cccccc;
}

.form-control:focus {
  background-color: white;
}


.admin {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  border: #efefef 1px solid;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 20px 35px 20px 35px;
  border-radius: 6px;
  background-color: white;
}

.admin > .titre-add{
  margin-bottom: 30px;
}

#tabUser > tbody > tr:nth-child(even) {
  background-color: #efefef;
}

.btn-demande {
  width: 220px;
}