{% trans_default_domain 'FOSUserBundle' %}

<div class="form-inscription">
<h1>Modification du profil</h1>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit username' } }) }}
    {{ form_widget(form) }}
        <input class="btn btn-primary btn-connexion" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
{{ form_end(form) }}
</div>