{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="admin">
<div class="titre-add">
<h1> {{ 'admin.titre'|trans}} </h1>
<a class="btn btn-default" href="{{ path('ajm_admin_ajoutUser') }}">{{ 'admin.ajout.user'|trans}}</a>
</div>
    <table id="tabUser" class="display" style="width:100%">
        <thead>
            <tr>
                <th>{{ 'admin.nomutilisateur'|trans}}</th>
                <th>{{ 'admin.email'|trans}}</th>
                <th>{{ 'inscription.nom'|trans}}</th>
                <th>{{ 'inscription.prenom'|trans}}</th>
                <th>{{ 'inscription.telephone'|trans}}</th>
                <th>{{ 'admin.droits'|trans}}</th>
                <th>{{ 'admin.actions'|trans}}</th>

            </tr>
        </thead>
        <tbody>
            {% for user in listUser %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                {{ 'admin.admin'|trans}},
                            {% else %}
                                {{ 'admin.user'|trans}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a class="btn btn-danger" href="{{ path('ajm_admin_supprimerUser', {'id': user.id}) }}">{{ 'bouton.supprimer'|trans}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}