{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="formulaire-ajout-coloc">
  {{ wo_render_breadcrumbs() }}
  <h3>{{'colocation.titreformulaire'|trans}}</h3>

  <div class="formulaire">
    {{ form(form) }}
  </div>
</div>
{% endblock %}