{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="annonces"> 
        {{ wo_render_breadcrumbs() }}
        <div class="titre-add"><h1> {{ annonce.titreAnnonce }} </h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if is_granted('ROLE_USER') %}
            {% if app.user.id == annonce.user.id %}
                <div><a href="{{ path('ajm_colocation_modifierAnnonce', {'id': annonce.id}) }}" class="btn btn-primary">{{'bouton.modifier.colocation'|trans}}</a>&nbsp;&nbsp;<a href="{{ path('ajm_colocation_supprimerAnnonce', {'id': annonce.id}) }}" class="btn btn-danger">{{'bouton.supprimer'|trans}}</a></div>
            {% else %}
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('ajm_colocation_supprimerAnnonce', {'id': annonce.id}) }}" class="btn btn-danger">{{'bouton.supprimer'|trans}}</a>
                {% endif %}
                <a href="{{ path('ajm_demande_ajoutDemande', {'id': annonce.id}) }}" class="btn btn-default">{{ 'bouton.envoyer.demande'|trans }}</a>
            </div>
            {% endif %}
        {% endif %}
    {% else %}
            <div><a href="{{ path('ajm_demande_ajoutDemande', {'id': annonce.id}) }}" class="btn btn-default">{{ 'bouton.envoyer.demande'|trans }}</a>  </div>
    {% endif %} 
    </div>
    <div class="annonce-detail">
        <i class="icon ion-ios-home-outline"></i>
        <div class="annonce-content">
            <div class="description-details">
                {{ annonce.descAnnonce }} 
            </div>
            <div class="date">
                <h5>
                {% if annonce.dateFin is null %}
                    {{'colocation.datedeb'|trans}} {{ annonce.dateDebut | date("m/d/Y") }}
                {% else %}
                    {{'colocation.datedeb'|trans}} {{ annonce.dateDebut | date("m/d/Y") }} {{ 'colocation.datefin'|trans}} {{ annonce.dateFin | date("m/d/Y") }}
                {% endif %}
                </h5>
            </div>
            <div class="loyer"> 
                    <h3>{{annonce.loyer}} €</h3><h5>{{'colocation.parmois'|trans}}</h5>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="logement-details">
            <h3>{{'colocation.logement.logement'|trans}} </h3>
            <div> {{'colocation.logement.nbpieces'|trans}} : {{ annonce.logement.nbPieces }} </div>
            <div> {{'colocation.logement.nbchambres'|trans}} : {{ annonce.logement.nbChambres }} </div>
            <div> {{'colocation.logement.nbsallesdo'|trans}}: {{ annonce.logement.nbSallesDeau }} </div>
        </div>
        <div class="adresse-details">
        <h3> {{'colocation.logement.adresse'|trans}} </h3>
            {% if annonce.logement.adresse.numRue == '' %}
                <div> {{'colocation.adresse.rue'|trans}}: {{ annonce.logement.adresse.nomRue}} </div>
            {% else %} 
                    <div> {{'colocation.adresse.rue'|trans}}: {{ annonce.logement.adresse.numRue ~ ', ' ~ annonce.logement.adresse.nomRue}} </div>
            {% endif %}
            <div> {{'colocation.adresse.cp'|trans}}: {{ annonce.logement.adresse.cp}} </div>
            <div> {{'colocation.adresse.ville'|trans}}: {{ annonce.logement.adresse.ville}} </div>
            <div> {{'colocation.adresse.pays'|trans}} : {{ annonce.logement.adresse.pays}} </div>
        </div>
    </div>
</div>
{% endblock %}
