<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>KoloK</title>
        <link>colocation/web/</link>
        <description>Site de gestion de colocations</description> 
        {% for annonce in listAnnonces %}
            <item>
                <title>{{ annonce.titreAnnonce }}</title>
                <link>colocation/web/fr/detailsAnnonce/{{annonce.id}}</link>
                <description>{{ annonce.descAnnonce }}</description>
            </item> 
        {% endfor %} 
    </channel>
</rss>
