{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="split-recherche">
    <div class="recherche-avancee">
        {{ wo_render_breadcrumbs() }}
        <h3>{{'recherche.titreformulaire'|trans}}</h3>
        <h3small>{{ 'recherche.precision'|trans}}</h3small>
        <form class="form-recherche" action="{{ path('ajm_colocation_recherchePersonnalisee') }}">
            <div>
                <label for="type">{{'colocation.logementtype'|trans}}</label>
                <select class="form-control">
                    <option value="Appartement">{{ 'colocation.logement.appartement'|trans }}</option>
                    <option value="Maison">{{ 'colocation.logement.maison'|trans }}</option>
                </select>
            </div>
            <div>
                <label for="ville">{{'colocation.adresse.ville'|trans}}</label>
                <input type="text"  class="form-control" name="ville" placeholder="{{'colocation.adresse.ville'|trans}}">
            </div>
            <div>
                <label for="prixMin">{{'colocation.loyermin'|trans}}</label>
                <input type="number"  class="form-control" name="prixMin" placeholder="{{'colocation.loyermin'|trans}}">
            </div>
            <div>
                <label for="prixMax">{{'colocation.loyermax'|trans}}</label>
                <input type="number"  class="form-control" name="prixMax" placeholder="{{'colocation.loyermax'|trans}}">
            </div>
            <div>
                <label for="surfaceMin">{{'colocation.logement.surfacemin'|trans}}</label>
                <input type="number"  class="form-control" name="surfaceMin" placeholder="{{'colocation.logement.surfacemin'|trans}}">
            </div>
            <div>
                <label for="nbPiece">{{'colocation.logement.nbpieces'|trans}}</label>
                <input type="number"  class="form-control" name="nbPiece" placeholder="{{'colocation.logement.nbpieces'|trans}}">
            </div>
            <button type="submit" class="btn btn-primary btn-connexion">{{ 'bouton.chercher'|trans }}</button>
        </form>
    </div>
    <div class="resultat-recherche">
    <h3>{{ 'recherche.resultat'|trans }}</h3>
        {% for colocation in colocations %}
  <a class="annonce" href="{{ path('ajm_colocation_detailsAnnonce', {'id': colocation.id}) }}" >
    <div class="flex">
        <i class="icon ion-ios-home-outline"></i>
        <div class="annonce-content">
            <h3>{{ colocation.titreAnnonce }}</h3>
            <div> {{'colocation.nbplaces'|trans}} : {{ colocation.nbPlaces}}</div>
            <div> {{'colocation.logementtype'|trans}} : {{ colocation.type }} </div>
            <div> {{'colocation.logement.surface'|trans}} : {{ colocation.surface }} m²</div>
            <div> {{'colocation.adresse.ville'|trans}} : {{ colocation.ville}} </div>
        </div>
    </div>
    <div class="loyer-big">
        <h2>{{colocation.loyer}} € </h2>
    </div>
</a>
    {% endfor %}
    </div>
</div>
{% endblock %}